<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.BandMapper">
    <insert id="insertOne" parameterType="Band" useGeneratedKeys="true" keyProperty="no">
        insert into band(createMaster, bandName, category, memberCnt)
        values(#{createMaster}, #{bandName}, #{category}, #{memberCnt});
    </insert>


    <select id="selectByNo" parameterType="int" resultType="band">
        select * from band where no = #{no}
    </select>



    <select id="selectPendingBandJoinRequests" parameterType="int" resultType="BandJoinRequest">
        select b.no as bandNo, b.bandName as bandName, r.idx, r.memberId,
        m.nickname as memberNickname, r.joinStatus, r.joinAt
        from
        bandJoinRequest r inner join band b on r.bandNo = b.no
        inner join member m on r.memberId = m.id
        where
        r.bandNo = #{bandNo} and r.joinStatus = 'pending'
        oder by r.joinAt asc;
    </select>
    <select id="selectKeywordByOffset" resultType="Band" parameterType="map">
        select * from band
        where title like #{keyword} or content like #{keyword}
        order by wroteAt desc limit 10 offset #{offset}
    </select>
    <update id="bandMemberCnt" parameterType="int">
        update band set memberCnt = memberCnt + 1 where no = #{bandNo}
    </update>
</mapper>