<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.PostsMapper">
    <insert id="insertOne" parameterType="Posts">
        insert into posts(writerId, hashtag, content, viewCnt, likeCnt, commentCnt, bandNo) values(#{writerId}, #{hashtag}, #{content}, #{viewCnt}, #{likeCnt}, #{commentCnt}, #{bandNo});
    </insert>
    <select id="selectAll" resultType="Posts">
        select * from posts where bandNo = #{bandNo} order by wroteAt desc limit #{offset}, #{amount}
    </select>
    <select id="countAllByBandNo" resultType="int">
        select count(*) from posts where bandNo = #{bandNo}
    </select>
    <select id="selectAllByBanNo" parameterType="map" resultType="Posts">
        select * from posts where bandNo = #{bandNo} order by wroteAt desc limit #{amount} offset #{offset}
    </select>
    <!-- 검색 -->
    <select id="countLikeKeyword" resultType="int">
        select count(*) from posts where content like #{keyword} or hashtag like #{keyword}
    </select>
    <select id="selectMyAllPosts" parameterType="String" resultType="map">
        select * from posts join band on posts.bandNo = band.no where posts.writerId = #{writerId}
        order by posts.wroteAt desc
    </select>

    <!-- 조회수(증가), 댓글(등록,삭제), 좋아요(등록,삭제) -->
    <!-- 댓글 등록 -->
    <insert id="insertComment" parameterType="comment">
        insert into comment(postNo, writerId, content, commentedAt)
        values(#{postNo}, #{writerId}, #{content}, NOW())
    </insert>
    <!-- 댓글 조회 -->
    <select id="selectCommentsByPostNo" parameterType="int" resultType="comment">
        select*from comment where postNo = #{postNo} order by commentedAt ASC
    </select>
    <!-- 게시글 하나 상세 조회 -->
    <select id="selectOneByNo" parameterType="int" resultType="Posts">
        select * from posts where no = #{no}
    </select>

    <update id="updateViewCnt" parameterType="int">
        update posts set viewCnt = viewCnt +1 where no = #{no}
    </update>
    <update id="increaseCommentCnt" parameterType="int">
        update posts set commentCnt = commentCnt + 1 where no = #{no}
    </update>
    <update id="decreaseCommentCnt" parameterType="int">
        update posts set commentCnt = commentCnt -1 where no = #{no}
    </update>
    <update id="increaseLikeCnt" parameterType="int">
        update posts set likeCnt = likeCnt +1 where no = #{no}
    </update>
    <update id="decreaseLikeCnt" parameterType="int">
        update posts set likeCnt = likeCnt -1 where no = #{no}
    </update>
    <!-- 게시글 수정 -->
    <update id="updateOne" parameterType="Posts">
        update posts set content = #{content}, hashtag = #{hashtag} where no = #{no}
    </update>

    <!-- 댓글 전체 삭제 -->
    <delete id="deleteCommentsByPostNo" parameterType="int">
        DELETE FROM comment WHERE postNo = #{postNo}
    </delete>
    <!-- 게시글 삭제 -->
    <delete id="deletePostByNo" parameterType="int">
        DELETE FROM posts WHERE no = #{no}
    </delete>
</mapper>