<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.PostsLikeMapper">
    <!-- 등록 -->
    <insert id="insertOne" parameterType="PostsLike">
        insert into postsLike(memberId, postNo) values(#{memberId}, #{postNo})
    </insert>
    <!-- 삭제 -->
    <delete id="deleteByIdx" parameterType="int">
        delete from postsLike where idx = #{idx}
    </delete>
    <delete id="deleteByMemberIdAndArticleNo" parameterType="postsLike">
        delete from postsLike where memberId = #{memberId} and postNo = #{postNo}
    </delete>
    <delete id="deleteByPostsNo" parameterType="int">
        delete from postsLike where articleNo = #{no}
    </delete>

    <select id="exists" parameterType="PostsLike" resultType="int">
        select count(*) from postsLike
        where memberId = #{memberId} and postNo = #{postNo}
    </select>
    <!-- 게시글 select 시 likeCnt 포함 -->
    <select id="selectAllByBandNo" parameterType="map" resultType="Posts">
        SELECT no, bandNo, writerId, hashtag, content, wroteAt, viewCnt,
        (SELECT COUNT(*) FROM postsLike pl WHERE pl.postNo = p.no) AS likeCnt,
        commentCnt
        FROM posts p
        WHERE bandNo = #{bandNo}
        ORDER BY wroteAt DESC
        LIMIT #{offset}, #{amount}
    </select>


</mapper>