@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
.nanum-gothic-regular {
    font-family: "Nanum Gothic", sans-serif;
    font-style: normal;
}

h1, h2, h3, h4, p{
    margin: 0;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a{
    text-decoration: none;
}
.header-line{
    height: 30px;
    background-color: #2C3239;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 0px 230px;
    box-sizing: border-box;
    background-color: #eee;
}
.band-left{
    width: 218px;
    background-color: #fff;
    border: 1px solid blue;
}
.band-images{
    height: 80px;
    background-color: palevioletred;
}
.band-name{
    height: 30px;
    background-color: coral;
}
.band-cnt{
    height: 15px;
    background-color: cadetblue;
}
.create-post-btn{
    height: 30px;
    width: 100%;
    background-color: #2C3239;
    color: #fff;
}
.band-main{
    width: 830px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    height: 500px;
}
.create-post-box{
    border: 1px solid red;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.create-post-box input{
    width: 100%;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Nanum Gothic', sans-serif;
    margin-bottom: 15px;
}
.create-post-box textarea {
    width: 100%;
    height: 150px;
    resize: none;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Nanum Gothic', sans-serif;
}
.create-post-box input:focus{
    outline: none;
}
textarea:focus{
    outline: none;
}
.bord{

}