@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
.nanum-gothic-regular {
    font-family: "Nanum Gothic", sans-serif;
    font-style: normal;
}

h1, h2, h3, h4, p{
    margin: 0;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a{
    text-decoration: none;
}
/*메인 탑*/
.top-head{
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0px 230px;
    box-sizing: border-box;
    margin-bottom: 70px;
    background-color: #424B52; /* 전체 상단 배경색 */
    color: #fff; /* 상단 안의 기본 글자색 */
}
.top-head a,
.top-head i {
    color: #fff;
}

.top-left-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.top-logo img{
    width: 70px;
    height: 26px;
}
.search-box{
    display: flex;
    position: relative;
}
.search-box input{
    flex: 0 1 auto;
    width: 289px;
    height: 28px;
    border: 1px solid #fff;
    font-size: 12px;
    color: #fff; /* 글자 흰색 */
    background-color: transparent; /* 배경 투명 */

}
/* 로그아웃 버튼도 어울리게 */
.top-logout {
    background-color: #fff;
    color: #424B52;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
    font-weight: 550;
}
.top-logout:hover {
    background-color: #ddd;
}