@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
.nanum-gothic-regular {
    font-family: "Nanum Gothic", sans-serif;
    font-style: normal;
}

h1, h2, h3, h4, p{
    margin: 0;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a{
    text-decoration: none;
}
header{
    background-color: #424B52; /* 전체 상단 배경색 */
}
/*메인 탑*/
.top-head{
    height: 65px;
    display: flex;
    justify-content: space-between;

    color: #fff; /* 상단 안의 기본 글자색 */
    align-items: center;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.top-head a,
.top-head i {
    color: #fff;
}

.top-left-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.top-logo {
    width: 70px;
    height: 26px;
}
.top-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}
.search-box{
    height: 40px; /* input 높이랑 동일하게 */
    position: relative;
}
.search-box form {
    display: flex;
    align-items: center;
    height: 100%; /* 높이 꽉 채우기 */
    position: relative;
}
.search-box input{
    height: 40px;
    width: 280px;
    padding-left: 15px;
    padding-right: 40px; /* 아이콘 공간 확보 */
    border-radius: 20px;
    border: 1px solid #fff;
    color: #fff; /* 글자 흰색 */
    background-color: transparent; /* 배경 투명 */
    box-sizing: border-box;

}
.search-box input:focus{
    outline: none;
}
.search-box i.fa-magnifying-glass {
    position: absolute;
    right: 12px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

/* 로그아웃 버튼도 어울리게 */
.top-logout {
    background-color: #fff;
    color: #424B52;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
    font-weight: 550;
}
.top-logout:hover {
    background-color: #ddd;
}

.top-right-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-logout{
    width: 100px;
    height: 30px;
    margin-right: 15px;
    cursor: pointer;
    border: none;
    font-size: 13px;
}
.top-logout:hover{
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .2);
}
.topbtn{
    display: flex;
    font-size: 24px;
    gap: 10px;
    color: #888;
}